/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/css
/public/js
/public/mix-manifest.json

.php_cs.cache

5m5v-config.yaml
