[phases.setup]
nixpkgsArchive = '8fff54379ca15c3f4fa2a8fc62acc1b0b0a15c31'
nixPkgs = [
    "...",
    "nodejs",
    "python311Packages.supervisor",
    # Fix for coollabsio/coolify/issues/4202 (LICENSE file collision)
    "(lib.recursiveUpdate php83Packages.composer { meta.priority = php83Packages.composer.meta.priority or 0 -1; })"


]

[phases.install]
cmds = [
    'corepack enable',
    'corepack prepare pnpm@9.14.2 --activate',
    '...',
]

[phases.build]
cmds = [
    "mkdir -p /etc/supervisor/conf.d/",
    "cp /app/nixpacks/laravel-worker.conf /etc/supervisor/conf.d/laravel-worker.conf",
    "cp /app/nixpacks/supervisord.conf /etc/supervisord.conf",
    "cp /app/nixpacks/start.sh /assets/start.sh",
    "chmod +x /assets/start.sh",
    "..."
]

[start]
cmd = '/assets/start.sh'
