@import '~swiper/swiper';
@import '~swiper/components/navigation/navigation';
@import '~swiper/components/pagination/pagination';

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    overflow-y: scroll;
}
