#login-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -630px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:-2;
}

#login-bg-overlay {
    position: fixed;
    height: 100%;
    width: calc(100% + 2.5px);
    left: -2.5px;
    top: 40%;
    z-index:-1;
    transform: scaleX(-1);

    @include for-desktop-up {
        background-size: 100% 60%;
    }
}

#login-main {
    @include for-tablet-portrait-up {
        margin-bottom: 4rem !important;
    }

    @include for-tablet-landscape-up {
        max-width: 1024px;
    }
}

.swirvy-box {
    border-radius: 17px 0 17px 0;
}

.login-panes {
    @include for-tablet-portrait-up {
        width: 100%;
        margin-bottom: 4rem !important;
    }

    @include for-tablet-landscape-up {
        width: 85%;
        margin-bottom: 3rem !important;
    }

    @include for-desktop-up {
        width: 75%;
    }
}

.login-pane {
    padding: 80px 5% 5% 5%;

    h1, h2, h3, h4, h5 {
        font-family: "Lora";
    }
}

.login-pane-left {
    @extend .login-pane;

    float: left;
    background-color: #61df95ed;
    border-radius: 90px 0 0 0;

    @include for-tablet-portrait-up {
        margin-top: 50px;
    }

    input:not([type = submit]) {
        background: transparent;
        border: none;
        border-bottom: 1px solid $teal;
    }
}

.login-pane-right {
    @extend .login-pane;

    float: right;
    background-color:#1d4737f2;

    @include for-tablet-portrait-up {
        border-radius: 0 0 90px 0;
        margin-bottom: 50px;
    }

    h3 {
        color: #61df95;
    }

    h5 {
        color: white;
    }
}

.horz-line {
    position: relative;
    left: -12.5%;
    width: 12%;
    height: 20px;
    border-bottom: 1px solid $teal;
    top: 10px;
}

.lang-flags {
    @extend .swirvy-box;
    border: solid #0f251d 1px;
    height: 100px;


    /* HIDE RADIO */
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
    }

    label {
        height: 100%;
        $flag-box-width: calc(100% / 4);
        width: $flag-box-width;
        display: flex;
        align-items: center;
    }

    a, button {
        height: 100%;
        width: 100%;
    }

    button img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: auto;
    }

    .btn:focus {
        box-shadow: none;
        border-bottom: 2px solid $teal;
    }
}

.login-flag-active {
    border-bottom: 5px solid #209774;
}

.start-btn {
    div {
        position: relative;
        width: 90px;
        height: 90px;
        color: #209774;
        background-color: #209774;
        border-radius: 50%;

        div {
            margin-top: 16%;
            margin-left: 16%;
            position: absolute;
            width: 68%;
            height: 68%;
            background-color: #e5e5e5;
            border-radius: 50%;

            i {
                font-size: xx-large;
                margin-top: 22%;
                margin-left: 5%;
            }
        }
    }
}

.login-footer {
    @extend .page-footer;

    @include for-tablet-portrait-up {
        position: fixed;
        bottom: 0;
    }
}

.reset-box {
    @extend .swirvy-box;

    background-color: #1d4737f2 !important;
    border-radius: 90px 0 90px 0;
    padding: 80px 5% 5% 5%;
    border: 2px solid #4dc0b5;

    input:not([type = submit]) {
        background: transparent;
        border: none;
        border-bottom: 1px solid $teal;
    }
}
