* {
  margin:0; padding:0; box-sizing:border-box;
}

h1, h2, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 1.75em;
  text-transform: uppercase;
  text-align: center;
}

.notice {
	text-align: left !important;
	color: #fff;
	letter-spacing: 1;
	padding-bottom: 8px;
	font-weight: 600;
}

.textareatable {
	width: 100%;
	padding: 5px 5px 0px 7px;
	background-color:#33a024;
	border-top: none;
}

.headertext {
	font-family: 'Fredoka One', cursive;
	font-weight: 100;
	margin-top: 40px;
	font-size: 38px;
	color:#fff;
	letter-spacing: 0.125em;
}

textarea {
  width: 98%;
  border: none;
  padding: 5px 0px 0px 10px;
  margin-bottom: 4px;
}

.selecttext {
	background-color: #fff;
	color: #dd3147;
	width: 78px;
	height: 73px;
	font-weight: 700;
	letter-spacing: 0.125em;
	text-align: center;
	padding: 10px;
	border: 0px;
	border-radius: 25px;
	margin-right: 7px;
}

.twitternotice {
	width: 100%;
	padding: 5px 0px 5px 10px;
	text-align: left !important;
	background-color: #4AB3F4;
	color:fff;
}

.fbnotice {
	width: 100%;
	padding: 5px 0px 5px 10px;
	text-align: left !important;
	background-color: #3b5998;
	color:fff;
}

.redditnotice {
	width: 100%;
	padding: 5px 0px 5px 10px;
	text-align: left !important;
	background-color: #ff4500;
	color:fff;
}

.instanotice {
	width: 100%;
	padding: 5px 0px 5px 10px;
	text-align: left !important;
	background-color: #e1306c;
	color:fff;
}

.wrap {
width: 100%;
overflow:auo;
}

.fleft {
float:left;
width: 40%;
background-color: #dd3147;
height:100vh;
position:fixed;
    top:0;
}

.fright {
float: right;
background-color: #fff;
height:100vh;
width: 60%;
}

ul {
padding: 0;
display:table;
width:100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
padding-top:15px;
padding-bottom:15px;
display:table-cell;
text-align: center;
}

/* total width */
#leftside::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
#leftside::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
#leftside::-webkit-scrollbar-thumb {
    background-color:#303030;
    border-radius:16px;
    border:4px solid #fff
}

/* set button(top and bottom of the scrollbar) */
leftside::-webkit-scrollbar-button {display:none}

#header {
		background-image: url("../images/overlay.png"), url("../images/header.jpg");
	background-size: cover;
		text-align: center;
		padding: 1px 60px 25px 60px
	}

#header p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0.25em 0 0 0;
}

body{
  color: #000;
  font-size: 16px;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b5998;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

p, ul, li {
  line-height: 1.4;
}

ul {
  list-style: disc;
}

blockquote {
  border-left: 5px solid #EF5350;
  margin: 40px 80px;
  padding-left: 20px;
}

blockquote ul {
  padding-left: 20px;
}

blockquote h4 {
  border-bottom: 1px solid;
  display: inline-block;
}

a {
  color: #FFF;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: inherit;
}

a:hover,
a:focus,
input:focus,
input:hover,
textarea:focus,
textarea:hover {
outline: none;
}

button:focus {
  outline: none;
}

img {
  max-width:100%;
  border: none;
}

input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0 0 10px;
      font-size: 20px;
      padding: 0px 60px 0px 60px;
	  color:#fff;
}

small,
.small {
  font-size: 85%;
}

mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 184px;
  text-align: left;
  padding: 5px 0px 2px 15px;
  transition: 0.3s;
  font-size: 17px;
}

.iframetabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 184px;
text-align: center;
    padding: 10px 0px 10px 0px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
}

/* Style the tab content */

.topics {
  padding: 5px 5px 4px 7px;
  border-top: none;
      width: 170px;
	background-color: transparent;
  border: none;
  color: #000;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.topics:hover {
  background-color: white;
}

.topics button.active {
  background-color: #fff;
}
.topics input.active {
  background-color: #fff;
}

.tabcontent {
  display: none;
  padding: 5px 5px 0px 7px;
      background-color: #33a024;
  border-top: none;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 87px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -48px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#container {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    position: relative;
}
#leftside, #rightside, #draggablediv {
    position: absolute;
    top: 0;
    height: 100%;

}
#leftside {
   left: 0;
    width: 39%;
	background-color: #dd3147;
	position:fixed;
	overflow: auto;
	min-width: 550px;
}
#rightside {
    right: 0;
    width: 60%;
	min-width: 550px;
	background-color: #fff;
}
#draggablediv {
    left: 39%;
    width: 22px;
    background-color: #3b5998;
	height:100vh;
	position: fixed;
    cursor: move;
}
#leftside div, #rightside div {
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}

.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
	    margin-top: 10px;
}
