// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card {

    @extend .text-light;
    background-color: $modal-bg;

}

.bg-pink {
    background-color: #ff0097;
}

.logo {
    width: 200px;
}

#donate-corner-border-left {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20%;
    padding-top: 20%;
    border-top-left-radius: 100%;
    border-top: 2px solid #41B9AA;
    border-left: 2px solid #41B9AA;
}

#donate-corner-left {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20%;
    padding-top: 20%;
    background-color: #E3F3E5;
}

#donate-corner-border-right {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 20%;
    padding-bottom: 20%;
    border-bottom-right-radius: 100%;
    border-bottom: 2px solid #41B9AA;
    border-right: 2px solid #41B9AA;
}

#donate-corner-right {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 20%;
    padding-top: 20%;
    background-color: #E3F3E5;
}

#donate-button {
    border: 2px solid #41B9AA;
    position: relative;
    width: 150px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding: 11px;
    margin-left: auto;
    font-weight: bold;
    color: $dark-text;
}

#donate-button i {
	color: #F07365;
}

.timer-display {
    font-size: 30px;
    color: $dark-text;
    height: 100%;
}

.timer-complete {
    display: none;
}

.timer-display > div {
    display: inline-block;
    background-color: #C8E0C1;
    width: 50px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 5px 0px;
}

.timer-display .minutes {
	font-weight: bold;
}

.timer-display .seconds {
	margin-left: -4px;
}

#minutes-left {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    margin-top: -2px;
}

#easy-to-copy-resources {
    color: $dark-text;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
	    flex: 0 0 20%;
	    max-width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
	    flex: 0 0 20%;
	    max-width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
	    flex: 0 0 20%;
	    max-width: 20%;
        float: left;
    }
}

.verbiage-container {
    padding-bottom: 5px;
}

.verbiage-link {
    padding-top: 100%;
	position: relative;
}

.verbiage-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #E7F9EC;
    border-top: 2px solid #D4E9D0;
}

.verbiage-link:hover {
    @extend .text-success;
    cursor: pointer;
}

.verbiage-index {
	font-size: 12px;
}

.verbiage-inner i {
    font-size: 50px;
    padding-bottom: 10px;
}

.verbiage-inner p {
	color: $dark-text;
}

#feed {
	position: relative;
	background-color: #E3F3E5;
}

#leftside, #rightside {
	padding: 60px;
}

#leftside {
	color: #41B9AA;
    min-height: 100vh;
}

#rightside {
  background-image: url('/images/background.svg');
  background-size: cover;
}

#rightside-inner {

	background-color: white;
	width: 100%;
	height: 100%;
	border-top-left-radius: 150px;
	border-bottom-right-radius: 150px;
	padding: 75px 50px;
}


@media only screen and (min-width: 576px) {

  #rightside {
    min-height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }

  
}

#Twitter {

	width: 100%;
	height: 100%;
    overflow-y: scroll;
}

/* total width */
#Twitter::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
#Twitter::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
#Twitter::-webkit-scrollbar-thumb {
    background-color:#303030;
    border-radius:16px;
    border:4px solid #fff
}