// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lora');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~fontawesome-iconpicker/dist/css/fontawesome-iconpicker.css';
@import './landing';
@import './feed';
@import './login';

@import './md-form';

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.card {
    @extend .text-light;

    background-color: $modal-bg;
}

.bg-pink {
    background-color: #ff0097;
}

.logo {
    width: 160px;

    @include for-desktop-up {
        width: 200px;
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
}

.col-sm-5ths {
    @include for-tablet-portrait-up {
	    flex: 0 0 20%;
	    max-width: 20%;
        float: left;
    }
}

.col-md-5ths {
    @include for-tablet-landscape-up {
	    flex: 0 0 20%;
	    max-width: 20%;
        float: left;
    }
}

.col-lg-5ths {
    @include for-desktop-up {
	    flex: 0 0 20%;
	    max-width: 20%;
        float: left;
    }
}

.fade.in {
    opacity: 1;
}

.flag-container, .flag {
    position: relative;
    top: 0;
    left: 0;
}

.flag-selected {
    position: absolute;
    top: 4px;
}

.flag-selected-vert {
    @extend .flag-selected;

    left: 4px;

    @include for-sm-tablet-portrait-up {
        left: 12px;
    }
}

.flag-selected-hor {
    @extend .flag-selected;

    left: 12px;
}

.lang-selector-container {
    display: inline-block;
    cursor: pointer;
    img {
        position: relative;
        top: 8px;
    }
}

.lang-selector-dropdown {
    display: none;
    position: absolute;
    left: 2rem;
    background: $modal-bg;
    padding: 10px 25px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    a {
        color: #fff;
    }
    span {
        position: relative;
        top: 1rem;
    }
    img {
        position: relative;
        top: 8px;
        float: right;
    }
}

.page-footer {
    font-size: 120%;
    background: #333;
    width: 100%;
    z-index: 100;
}

a {
    color: $pink;
}
